  .container {
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: column;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

  body {
    /*-ms-overflow-style: none;   IE and Edge */
    /* scrollbar-width: none;  Firefox */
    background-color: #16213E;
  }

  html{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
  }


  body::-webkit-scrollbar {
    /*display: none;*/
  }

  a:hover{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC),auto;
  }

  .cursorz:hover{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC),auto;
  }

  .consolas{
    font-family: 'Press Start 2P', cursive;
  }

  .retrofont{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
  }

  /*font-family: 'Press Start 2P', cursive;*/
  .font1{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
      text-decoration: none;
  }

  li {
      list-style: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0F3460;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
   }
   .logo img{
    width: min(10vw, 50px);
   }
   
   .logotext{
    margin-left: 10px;
    color: white;
    cursor: pointer;
   }

   .footertext{
    margin-left: 10px;
    color: white;
   }

   ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
  }
  
  .nav_items {
    color: white;
    margin-left: 30px;
  }
  
  .pad{
    padding: 3px;
    margin-left: 0px;
  }
  
  ul li:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobil-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    transition: all 1.5s ease;
    border-radius: 10px;
  }
  
  .mobil-menu {
    color: white;
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
    overflow: hidden;
    background-color: #E94560;
    opacity: 0.9;
    margin-top: 10px;
    font-size: 16px;
    transition: all 1.5s ease;
  }
  
  .mobil-menu li {
    margin-bottom: 10px;
  }
  
  .mobil-menu li a{
    color: white;
  }


  .home_text{
    text-align: center;
    color:white;
    width: 100%;
  }
  .pageone{
    background-color: #16213E;
  }

  .pagetwo{
    background-color: white;
  }

  .projcard{
    width: 100%;
  }

  .projtitle{
    font-size: 25px;
    color: black;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
  }

  .marginbook{
    margin-top: 20px;
    text-align: center; 
    width: 100%;
  }
  
  .lowespic{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .projdesc{
    color: black;
    text-align: center;
  }

  .containercard {
    padding: 25px 45px;
  }

  .projpic{
    width: 100%;
    height: 200px;
  }

  .rowtwo{
    display: grid;
    grid-auto-flow: column;
    gap: 3%;
    padding: 4%;
    padding-bottom: 10px !important;
  }

  .viewbtn{
    text-align: center;
    margin-top: 15px;
  }

  /* for MOBILE & TABLET */
  @media only screen and (max-width: 768px) {

    .home_text{
      text-align: center;
      color:white;
      font-size: 20px;
      width: 100%  
    }
    nav ul {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
      z-index: 10;
    }
    
    .buttonW{
          width: 100%;
    }
      
    .card-margin-top {
          margin-top: 4rem;
    }

    .lowespic{
      width: 250px;
      height: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .row{
      flex-wrap:wrap;
      padding: 25px;
    }

    .rowtwo{
        display: flex;
        grid-auto-flow: none;
        flex-wrap:wrap;
        padding: 25px;
    }

    .lowespng{
      width: 100%;
    }

    .app{
      text-align: center;
      font-size: 35px;
      font-family: Consolas, monaco, monospace;
    }

    .bgbutton{
      font-size: 20px;
    }

    .pageone{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .marginbook{
      margin-top: 20px;
      text-align: center; 
      width: 100%;
    }

    .recentproj{
      font-size: 30px;
    }

    .pagetwo{
      padding: 25px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .projpic{
      width: 100%;
      height: 120px;
    }
  
    #hex{
      width: 100%;
      height: 120px;
    }

    .projtitle{
      font-size: 25px;
      color: black;
      margin-bottom: 25px;
      margin-top: 15px;
      text-align: center;
    }

    .projdesc{
      text-align: justify;
      color: black;
    }

    .column{
      margin-bottom: 25px;
    }
    
    ul li a:hover{
      color: white;
      cursor: pointer;
    }

    .containercard {
      padding: 25px 18px;
    }

    .logotext, .footertext{
      font-size: 18px;
    }

    .viewbtn{
      margin-top: 0px;
    }
  }

  @media only screen and (min-width : 800px) and (max-width: 1024px) {
    .projpic {
      width: 100% !important;
      height: 201px !important;
  }
  }

  @media only screen and (min-width : 770px) and (max-width: 1160px) {
    .retrofont {
      font-size: 11px !important;
    }
  }

  @media only screen and (width : 768px) {
    .projpic {
      width: 100% !important;
      height: 201px !important;
  }
  }

  /* for LAPTOPS */
  @media only screen and (width > 768px) {

    .home_text{
      text-align: center;
      color:white;
      width: 100%;
      padding: 5px;
      margin-right: 20px;
    }

    .lowespic{
      width: 430px;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .lowespng{
      margin-left: 50px;
    }
    .row{
      padding: 50px;
    }
    
    .app{
      text-align: center;
      font-size: 80px;
      font-family: Consolas, monaco, monospace;
    }
    .bgbutton{
      font-size: 20px;
    }

    .recentproj{
      font-size: 90px;
    }

    .pageone{
      padding-top: 60px;
      padding-bottom: 60px;
    }

    .marginbook{
      margin-top: 40px;
      text-align: center; 
      width: 100%;
    }

    .pagetwo{
      padding: 50px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .projpic{
      width: 100%;
      height: 280px;
    }

    #hex{
      width: 100%;
      height: 280px;
    }

    .projtitle{
      font-size: 32px;
      color: black;
      margin-bottom: 50px;
      margin-top: 25px;
      text-align: center;
    }

    .projdesc{
      color: black;
      text-align: justify;
    }

    .rowtwo{
      display: grid;
      grid-auto-flow: column;
      gap: 3%;
      padding: 4%;
    }

    ul li a:hover{
      color: #E94560;
      cursor: pointer;
    }

    .containercard {
      padding: 25px 45px;
    }

    .simple{
      margin-right: 30px;
    }
  }

  @media only screen and (width: 1024px) {
    .app{
      text-align: center;
      font-size: 60px;
      font-family: Consolas, monaco, monospace;
    }
    
  }

  @media only screen and (width > 1618px) {
    .pageone{
      padding-top: 150px; padding-bottom: 150px;
    }
  }
  
  /* DROPDOWN MENU */
   .projects {
    position: relative; 
   }
   .dropdown {
    background-color: #E94560;
    padding: 0.5em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    height: auto;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 13em;
    text-align: center;
    border-radius: 8px;
   }

   .dropdown li a{
    color: white;
   }

   .dropdown li a:hover{
    color: white;
   }


   .dropdown li:hover {
    background-color: transparent;
   }
   .projects:hover .dropdown {
    display: block;
   }

   .winter{
    margin-top: 50px;
   }

   .button {
    background-color: #E94560; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }

  .buttonnavz {
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }

  
  .button:hover {
    background-color: #533483;
    color: white;
  }

  .row {
	  display:flex;
    width:100%;
    height: 100%;
	}

	.column {
	  padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
	}

  .columnz{
    padding: 5px;
  }

  .leavemsg{
    margin-left: 20px;
  }

  .rightnav{
    margin-right: 15px;
  }

  .colapp{
    align-items: center;
    margin:auto;
    padding: 20px;
    flex: 50%;
  }

  .introlowes{
    margin-top: 30px;
  }
  /*  LOADING */
  .lbutton {
    position: relative;
    padding: 8px 16px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    }

    .lbutton:active {
    background: transparent;
    }

    .lbutton__text {
    font: bold 20px "Quicksand", san-serif;
    color: transparent;
    transition: all 0.2s;
    }

    .lbutton--loading .button__text {
    visibility: hidden;
    opacity: 0;
    }

    .lbutton--loading::after {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #E94560;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
    }

    .fadein {
        opacity: 0;
        -moz-transition: opacity 1.5s;
        -webkit-transition: opacity 1.5s;
        -o-transition: opacity 1.5s;
        transition: opacity 1.5s;
    }
    
    #lowes.loaded .fadein {
        opacity: 1;
    }

    .recentproj{
      text-align: center;
    }


    
    .column:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .column:hover{
      transform: scale(1.1);
      transition: 0.2s;
    }

    .col{
      border: 2px solid black;
    }    
    /* CSS */
    .button-19 {
      appearance: button;
      background-color: #533483;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: din-round,sans-serif;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: .8px;
      line-height: 20px;
      margin: 0;
      outline: none;
      overflow: visible;
      padding: 13px 16px;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      transform: translateZ(0);
      transition: filter .2s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
    
    .button-19:after {
      background-clip: padding-box;
      background-color: #E94560;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      bottom: -4px;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    
    .button-19:main,
    .button-19:focus {
      user-select: auto;
    }
    
    .button-19:hover:not(:disabled) {
      filter: brightness(1.1);
      -webkit-filter: brightness(1.5);
    }
    
    .button-19:disabled {
      cursor: auto;
    }

    .social-footer {
      padding: 1rem;
      background-color: #0F3460;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    
    .social-footer .social-footer-icons li:last-of-type {
      margin-right: 0;
    }
    
    .social-footer .social-footer-icons .fa {
      font-size: 1.3rem;
      color: #fefefe;
      margin-right: 10rem;
    }
    
    .social-footer .social-footer-icons .fa:hover {
      color: #E94560;
      transition: color 0.1s ease-in;
    }
    

    .fa-brands{
      color: white;
    }

    .fa-brands:hover{
      color: #E94560;
      transition: color 0.1s ease-in;
    }

    
    .simple li{
      margin-right: 20px;
    }
    