  .container {
      width: 100%;
      height: 100%;
      align-items: center;
      flex-direction: column;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

  body {
      background-color: #16213E;
  }

  .consolas{
    font-family: Consolas, monaco, monospace;
  }

  .font1{
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
      text-decoration: none;
  }

  li {
      list-style: none;
  }

    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #0F3460;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
   }
   .logo img{
    width: min(10vw, 50px);
   }
   
   ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
  }
  
  .nav_items {
    color: white;
    margin-left: 30px;
  }
  
  .pad{
    padding: 3px;
    margin-left: 0px;
  }
  
  ul li:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
  
  ul li a:hover{
    color: #E94560;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobil-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    transition: all 1.5s ease;
    border-radius: 10px;
  }
  
  .mobil-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    height: auto;
    flex-wrap: wrap;
    padding: 30px;
    overflow: hidden;
    background-color: #E94560;
    opacity: 0.9;
    margin-top: 10px;
    font-size: 16px;
    transition: all 1.5s ease;
  }
  
  .mobil-menu li {
    margin-bottom: 10px;
  }
  
  .mobil-menu li a{
    color: black;
  }


  .home_text{
    text-align: center;
    color:white;
    width: 100%;
  }
  /* for MOBILE & TABLET */
  @media only screen and (max-width: 768px) {

    .home_text{
      text-align: center;
      color:white;
      font-size: 20px;
      width: 100%  
    }
    nav ul {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
      z-index: 10;
    }
    
    .buttonW{
          width: 100%;
    }
      
    .card-margin-top {
          margin-top: 4rem;
    }

    .lowespic{
      width: 250px;
      height: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .row{
      flex-wrap:wrap;
      padding: 25px;
    }

    .lowespng{
      width: 100%;
    }

    .app{
      text-align: center;
      font-size: 40px;
      font-family: Consolas, monaco, monospace;
    }

    .bgbutton{
      font-size: 20px;
    }

    .pageone{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .marginbook{
      margin-top: 20px;
      text-align: center; 
      width: 100%;
    }

    .recentproj{
      font-size: 30px;
    }

    .pagetwo{
      padding: 20px;
      padding-top: 50px;
    }
    
  }
  /* for LAPTOPS */
  @media only screen and (width > 768px) {

    .home_text{
      text-align: center;
      color:white;
      width: 100%;
      padding: 5px;
      margin-right: 20px;
    }

    .lowespic{
      width: 430px;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .lowespng{
      margin-left: 50px;
    }
    .row{
      padding: 50px;
    }
    
    .app{
      text-align: center;
      font-size: 80px;
      font-family: Consolas, monaco, monospace;
    }
    .bgbutton{
      font-size: 20px;
    }

    .recentproj{
      font-size: 90px;
    }

    .pageone{
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .marginbook{
      margin-top: 40px;
      text-align: center; 
      width: 100%;
    }

    .pagetwo{
      padding: 40px;
    }
  }

  @media only screen and (width: 1024px) {
    .app{
      text-align: center;
      font-size: 60px;
      font-family: Consolas, monaco, monospace;
    }
    
  }

  @media only screen and (width > 1618px) {
    .pageone{
      margin-top: 150px; margin-bottom: 150px;
    }
  }
  
  /* DROPDOWN MENU */
   .projects {
    position: relative; 
   }
   .dropdown {
    background-color: #E94560;
    padding: 0.5em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    height: auto;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    border-radius: 8px;
   }

   .dropdown li a{
    color: white;
   }

   .dropdown li a:hover{
    color: white;
   }


   .dropdown li:hover {
    background-color: #E94560;
   }
   .projects:hover .dropdown {
    display: block;
   }

   .winter{
    margin-top: 50px;
   }

   .button {
    background-color: #E94560; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: #533483;
    color: white;
  }

  .row {
	  display:flex;
    width:100%;
    height: 100%;
	}
	.column {
	  padding: 5px;
	}



  /*  LOADING */
  .lbutton {
    position: relative;
    padding: 8px 16px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    }

    .lbutton:active {
    background: transparent;
    }

    .lbutton__text {
    font: bold 20px "Quicksand", san-serif;
    color: transparent;
    transition: all 0.2s;
    }

    .lbutton--loading .button__text {
    visibility: hidden;
    opacity: 0;
    }

    .lbutton--loading::after {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #E94560;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
    }

    .fadein {
        opacity: 0;
        -moz-transition: opacity 1.5s;
        -webkit-transition: opacity 1.5s;
        -o-transition: opacity 1.5s;
        transition: opacity 1.5s;
    }
    
    #lowes.loaded .fadein {
        opacity: 1;
    }

    .recentproj{
      text-align: center;
    }


    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .containercard {
      padding: 2px 16px;
    }

    .pagetwo_col{
      margin: auto;
      margin-top: 20px;
    }